.products {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 50px; */
    place-items: center;
}

.product {
    border-radius: 15px;
    width: 300px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product:hover {
    transition: 0.3s ease-in;
}

.product img {
    max-height: 100%;
    max-width: 100%;
}

.product .description {
    text-align: center;
}

.imageFixed {
    height: 218px;
}

.outOfStock {
    margin: 0;
    font-weight: bold;
}

.addToCartBtn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.addToCartBtn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}